@model AlborzMarket.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    @Styles.Render("~/assets/css/theme.css");
    @Styles.Render("~/assets/css/theme-green-1.css");
    @Styles.Render("~/assets/css/theme-green-2.css");
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })


    <section class="page-section color">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="block-title"><span>ثبت نام</span></h3>
                    <form action="#" class="form-login">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "نام کاربری", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.Password, new { @placeholder = "رمز عبور", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "تکرار رمز عبور", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            @*<div class="col-md-6">
                                    <button type="submit" onclick="location.href='@Url.Action("Register")';return false;" class="btn btn-theme btn-block btn-theme-dark">ثبت نام</button>
                                </div>*@
                            <div class="col-md-6 form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-theme btn-block btn-theme-dark" value="ثبت نام" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
}

