@model Alborz.DomainLayer.DTO.HomeDTO
@using Alborz.DomainLayer.Enumration;

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var newest = new List<Alborz.DomainLayer.DTO.ProductDTO>();
    var mostSale = new List<Alborz.DomainLayer.DTO.ProductDTO>();
}

<!-- CONTENT AREA -->
<div class="content-area">

    <!-- PAGE -->
    <section class="page-section no-padding slider">
        <div class="container full-width">

            <div class="main-slider">
                <div class="owl-carousel" id="main-slider">

                    <!-- Slide 1 -->
                    <div class="item slide1">
                        <img class="slide-img" src="~/assets/img/preview/slider/slide1.jpg" alt="" />
                        <div class="caption">
                            <div class="container">
                                <div class="div-table">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Slide 1 -->
                    <!-- Slide 2 -->
                    <div class="item slide2 alt">
                        <img class="slide-img" src="~/assets/img/preview/slider/slide3.jpg" alt="" />
                        <div class="caption">
                            <div class="container">
                                <div class="div-table">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Slide 2 -->
                    <!-- Slide 3 -->
                    <div class="item slide3 dark">
                        <img class="slide-img" src="~/assets/img/preview/slider/slide13.jpg" alt="" />
                        <div class="caption">
                            <div class="container">
                                <div class="div-table">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Slide 3 -->

                </div>
            </div>

        </div>
    </section>
    <!-- /PAGE -->
    <section class="page-section">
        <div class="container">

            <div class="tabs">
                <ul id="tabs" class="nav nav-justified-off">
                    <li class=""><a href="#tab-1" data-toggle="tab">جدیدترین محصولات</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane fade  active in" id="tab-1">
                    <div class="row">
                        @{
                            foreach (var item in Model.Newest)
                            {
                            <div class="col-md-3 col-sm-6">
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                                            <img src='@Url.Action( "ShowByEntityEnumKeyId", "File", new { EntityEnumId=EntityEnum.Product , EntityKeyId =item.Id})'  />
                                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        <h4 class="caption-title"><a href="product-details.html">@item.Title</a></h4>
                                        <div class="price">@item.Price</div>
                                        @*<div class="buttons">
                                                <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                                <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                                <!--
                                                -->
                                                <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                                <!--
                                                -->
                                                <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="page-section">
        <div class="container">

            <div class="tabs">
                <ul id="tabs" class="nav nav-justified-off">
                    <li class=""><a href="#tab-1" data-toggle="tab"> محصولات پرفروش</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane fade  active in" id="tab-1">
                    <div class="row">
                        @{
                            foreach (var item in Model.Newest)
                            {
                                <div class="col-md-3 col-sm-6">
                                    <div class="thumbnail no-border no-padding">
                                        <div class="media">
                                            <a class="media-link" data-gal="prettyPhoto" href="~/assets/img/preview/shop/product-1-big.jpg">
                                                <img src='@Url.Action( "ShowByEntityEnumKeyId", "File", new { EntityEnumId=EntityEnum.Product , EntityKeyId =item.Id})' alt="عکس مورد نظر یافت نشد" />
                                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                            </a>
                                        </div>
                                        <div class="caption text-center">
                                            <h4 class="caption-title"><a href="product-details.html">@item.Title</a></h4>
                                            <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PAGE -->
    <section class="page-section no-padding-top">
        <div class="container">
            <div class="tabs">
                <ul id="tabs" class="nav nav-justified-off">
                    <li class=""><a href="#tab-1" data-toggle="tab"> مقاله آموزشی</a></li>
                </ul>
            </div>
            <div class="row blocks shop-info-banners">
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-left"><i class="fa fa-gift"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading">اوریگامی</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-left"><i class="fa fa-comments"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading">گرافیک</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-left"><i class="fa fa-trophy"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading"> کاردستی </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->
</div>
<!-- /CONTENT AREA -->