@using Alborz.DomainLayer.Enumration;
@model Alborz.DomainLayer.DTO.ProductDTO

@{
    ViewBag.Title = "ثبت محصول";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @Styles.Render("~/css/stylesheets/main.css"); 

} 

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> محصولات</h1>
            </div>
        </div>

        @*<button type="button" onclick="location.href='@Url.Action("create","Property")';return false;" class="btn btn-success">ثبت ویژگی</button>*@
        <!--  ==========  -->
        <!--  = Steps =  -->
        <!--  ==========  -->
        <div class="checkout-steps">
            <div class="clearfix">
                <div class="step active">
                    <div class="step-badge"><i class="icon-ok"></i></div>
                    <a href="checkout-step-1.html">ثبت محصول</a>
                </div>
                <div class="step ">
                    <div class="step-badge">2</div>
                    ثبت رنگ و تعداد
                </div>
                <div class="step">
                    <div class="step-badge">3</div>
                    ثبت ویژگی
                </div>
                <div class="step">
                    <div class="step-badge">4</div>
                    ثبت تصویر
                </div>
            </div>
        </div>
        <!-- /steps -->
        <!--  ==========  -->
        <!--  = Shipping addr form =  -->
        <!--  ==========  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">ثبت محصول</div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <form role="form">

                                <div class="form-group">
                                    <p class="control-label col-md-5">عنوان :</p>
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="control-label col-md-5">کد :</p>
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="control-label col-md-5">برند :</p>
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="control-label col-md-5">قیمت :</p>
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="control-label col-md-5">توضیحات :</p>
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="control-label col-md-5"> گروه :</p>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(x => Model.CategoryId, new SelectList(Model.Categories, "Id", "Title"), "انتخاب کنید", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">دکمه ثبت </button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("بازگشت به لیست", "Index")
</div>
