@model Alborz.DomainLayer.DTO.ProductDTO


@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@*<link href="~/css/css/styles.css" rel="stylesheet" />*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var counter = 1;
}

<h2 class="style-h2">محصولات</h2>

<button type="button" onclick="location.href='@Url.Action("create")';return false;" class="btn btn-success">محصول جدید</button>

@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p class="search_table">
        جستجو در جدول:
        @*@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)*@
        @Html.TextBoxFor(model => model.CurrentFilter)
        @Html.ValidationMessageFor(model => model.CurrentFilter, "", new { @class = "text-danger" })
        <input type="submit" value="جستجو" />
        <input type="button" value="حذف فیلتر" onclick="location.href='@Url.Action("index")';return false;">

    </p>
}
<table id="showList">
    <tr>
        <th>
            ردیف
        </th>
        <th>
            @Html.ActionLink("دسته بندی", "Index", new { sortOrder = ViewBag.Category, currentFilter = Model.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("عنوان", "Index", new { sortOrder = ViewBag.Title, currentFilter = Model.CurrentFilter })
        </th>
        <th class="table-sort-th">
            @Html.ActionLink("کد", "Index", new { sortOrder = ViewBag.Code, currentFilter = Model.CurrentFilter })
        </th>
        <th class="table-sort-th">
            @Html.ActionLink("برند", "Index", new { sortOrder = ViewBag.Brand, currentFilter = Model.CurrentFilter })
        </th>
        <th class="table-sort-th">
            @Html.ActionLink("قابل فروش", "Index", new { sortOrder = ViewBag.IsBuyable, currentFilter = Model.CurrentFilter })
        </th>
        <th class="table-sort-th">
            @Html.ActionLink("رنگ", "Index", new { sortOrder = ViewBag.Quantity, currentFilter = Model.CurrentFilter })
        </th>
        <th class="table-sort-th">
            @Html.ActionLink("تعداد", "Index", new { sortOrder = ViewBag.Quantity, currentFilter = Model.CurrentFilter })
        </th>
        <th>
            عملیات
        </th>
    </tr>

    @foreach (var item in Model.ProductsPageList)
    {
        <tr>
            <td>
                @counter
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Categories.Where(x => x.Id == item.CategoryId).FirstOrDefault().Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBuyable)
            </td>
            @foreach (var detail in item.ProductDetails)
            {
                <td>
                    @Html.DisplayFor(modelItem => detail.Colors.Where(x=>x.Id==detail.ColorId).FirstOrDefault().Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => detail.Quantity)
                </td>
            }
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }) |
                @Html.ActionLink("جزئیات", "Details", new { id = item.Id }) |
                @Html.ActionLink("ویژگی ها", "Index", "Property", null, new { id = item.Id })
                @*@Html.ActionLink("حذف", "Delete", new { id = item.DriverId })*@
            </td>
        </tr>
        counter += 1;

    }

</table>
<br />
<p class="showPage">
    صفحه @(Model.ProductsPageList.PageCount < Model.ProductsPageList.PageNumber ? 0 : Model.ProductsPageList.PageNumber) از @Model.ProductsPageList.PageCount
</p>

@Html.PagedListPager(Model.ProductsPageList, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
