@*@model Alborz.DomainLayer.DTO.ProductDTO*@
@*@model PagedList.IPagedList<Alborz.DomainLayer.DTO.ProductDTO>*@
@*@model  List<Alborz.DomainLayer.DTO.ProductDTO>*@
@model Alborz.DomainLayer.DTO.ProductDTO
@using PagedList.Mvc;
@using Alborz.DomainLayer.Enumration;
@{
    ViewBag.Title = "ProductsByCategory";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var categories = new List<Alborz.DomainLayer.DTO.CategoryDTO>();
    var childrenCategories = new List<Alborz.DomainLayer.DTO.CategoryDTO>();
}
<div class="wrapper">

    <!-- /HEADER -->
    <!-- CONTENT AREA -->
    <div class="content-area">

        <!-- BREADCRUMBS -->
        @*<section class="page-section breadcrumbs">
            <div class="container">
                <div class="page-header">
                    <h1>صفحه دسته بندی</h1>
                </div>
                <ul class="breadcrumb">
                    <li><a href="#">خانه</a></li>
                    <li><a href="#">فروشگاه</a></li>
                    <li class="active">صفحه نمایش دسته بندی شبکه ای با نوار کناری چپ</li>
                </ul>
            </div>
        </section>*@
        <!-- /BREADCRUMBS -->
        <!-- PAGE WITH SIDEBAR -->
        <section class="page-section with-sidebar">
            <div class="container">
                <div class="row">
                    <!-- SIDEBAR -->
                    <aside class="col-md-3 sidebar" id="sidebar">
                        <!-- widget search -->
                        @*@using (Html.BeginForm("Index", "Product", FormMethod.Get))
                        {
                     
                            <div class="widget">
                                <div class="widget-search">
                                    @Html.TextBoxFor(model => model.CurrentFilter, new { placeholder = "جستجو", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CurrentFilter, "", new { @class = "text-danger" })
                                    <button><i class="fa fa-search"></i></button>
                                </div>
                            </div> 
                        }*@

                        <!-- /widget search -->
                        <!-- widget shop categories -->
                        <div class="widget shop-categories">
                            <h4 class="widget-title">دسته بندی</h4>
                            <div class="widget-content">
                                <ul>
                                    @{categories = Model.Categories.Where(x => x.priority == 1).ToList(); }
                                    @{ for (int i = 0; i < categories.Count(); i++)
                                        {
                                            <li>
                                                <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                                <a href="#">@categories[i].Title</a>
                                                @*@Html.DisplayFor(modelItem => modelItem.categories[i])*@
                                                @*<input type="hidden" name="BankAccountNumbers[@i].RegionId" value=@temp />*@
                                                <ul class="children">
                                                    @{childrenCategories = Model.Categories.Where(x => x.ParentCategoryId == categories[i].Id).ToList(); }
                                                    @for (int j = 0; j < childrenCategories.Count; j++)
                                                    {
                                                        <li>
                                                            <a >@childrenCategories[j].Title</a>
                                                            @*@Html.DisplayFor(modelItem => modelItem.categories[i])*@
                                                            @*<input type="hidden" name="BankAccountNumbers[@i].RegionId" value=@temp />*@

                                                        </li>
                                                    }


                                                </ul>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- /widget shop categories -->
                        <!-- widget product color -->
                        <div class="widget widget-colors">
                            <h4 class="widget-title">رنگ ها</h4>
                            <div class="widget-content">
                                <ul>
                                    <li><a href="#"><span style="background-color: #ffffff"></span></a></li>
                                    <li><a href="#"><span style="background-color: #161618"></span></a></li>
                                    <li><a href="#"><span style="background-color: #e74c3c"></span></a></li>
                                    <li><a href="#"><span style="background-color: #783ce7"></span></a></li>
                                    <li><a href="#"><span style="background-color: #3498db"></span></a></li>
                                    <li><a href="#"><span style="background-color: #00a847"></span></a></li>
                                    <li><a href="#"><span style="background-color: #3ce7d9"></span></a></li>
                                    <li><a href="#"><span style="background-color: #fa17bc"></span></a></li>
                                    <li><a href="#"><span style="background-color: #a87e00"></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </aside>
                    <!-- /SIDEBAR -->
                    <!-- CONTENT -->
                    <div class="col-md-9 content" id="content">

                        <!-- Products grid -->
                        <div class="row products grid">

                            @{ foreach (var item in Model.ProductsPageList)
                                {
                                    <div class="col-md-4 col-sm-6">
                                        <div class="thumbnail no-border no-padding">
                                            <div class="media">
                                                <a class="media-link" href="#">
                                                    <img src='@Url.Action( "ShowByEntityEnumKeyId", "File", new { EntityEnumId=EntityEnum.Product , EntityKeyId =item.Id})' alt="عکس مورد نظر یافت نشد" />
                                                    @*<span class="icon-view">
                                                        <strong><i class="fa fa-eye"></i></strong>
                                                    </span>*@
                                                </a>
                                            </div>
                                            <div class="caption text-center">
                                                <h4 class="caption-title">@item.Title</h4>
                                                <div class="price">@item.Price</div>
                                                <div class="buttons">
                                                    @*<a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>*@
                                                    <!--
        -->
                                                    <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>سبد خرید</a>
                                                    <!--
        -->
                                                    @*<a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            } 
                        </div>
                        <!-- /Products grid -->
                        <!-- Pagination -->
                        <br />
                        <p class="showPage">
                            صفحه @(Model.ProductsPageList.PageCount < Model.ProductsPageList.PageNumber ? 0 : Model.ProductsPageList.PageNumber) از @Model.ProductsPageList.PageCount
                        </p>
                        @Html.PagedListPager(Model.ProductsPageList, page => Url.Action("ProductsByCategory",
                            new { page , sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter,CategoryId=Model.CategoryId }))
                        <!-- /Pagination -->
                    </div>
                    <!-- /CONTENT -->
                </div>
            </div>
        </section>
        <!-- /PAGE WITH SIDEBAR -->
        <!-- PAGE -->
        <!-- /PAGE -->
    </div>
    <!-- /CONTENT AREA -->
    <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>

</div>